.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache
bheap.o
common.o
compile
config.log
config.status
configure
depcomp
exercise-addendum
exercise-addendum.o
exercise1
exercise1.o
exercise2
exercise2.o
exercise3
exercise3.o
install-sh
missing
